<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.chabok.cordovaplugin"
        version="1.1.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdpPushClient</name>
    <js-module name="AdpPushClient"
               src="www/AdpPushClient.js">
        <clobbers target="AdpPushClient" />
    </js-module>
    <platform name="android">
        <framework src="me.leolin:ShortcutBadger:1.1.22@aar" />
        <framework src="com.google.firebase:firebase-messaging:17.1.0" />
        <framework src="com.android.installreferrer:installreferrer:1.0" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file framework="true"
                     src="src/android/libs/chabok-lib-3.1.0.aar"
                     target-dir="libs"/>

        <config-file parent="/*"
                     target="res/xml/config.xml">
            <feature name="AdpPushClient">
                <param name="android-package"
                       value="io.chabok.cordovaplugin.AdpPushClient" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
				<uses-permission android:name="android.permission.INTERNET" />
				<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
				<uses-permission android:name="android.permission.WAKE_LOCK" />
		</config-file>
        <config-file parent="/*"
                     target="AndroidManifest.xml" />
        <source-file src="src/android/AdpPushClient.java"
                     target-dir="src/io/chabok/cordovaplugin/AdpPushClient" />
        <source-file src="src/android/ChabokApplication.java"
                     target-dir="src/io/chabok/cordovaplugin/AdpPushClient" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.adpdigital.push.client.PlatformType"
                       android:value="cordova" />
            <receiver
                    android:name="com.adpdigital.push.ChabokReferrerReceiver"
                    android:permission="android.permission.INSTALL_PACKAGES"
                    android:exported="true">
                <intent-filter>
                    <action android:name="com.android.vending.INSTALL_REFERRER" />
                </intent-filter>
            </receiver>
        </config-file>
    </platform>
    <platform name="ios">
        <config-file parent="/*"
                     target="config.xml">
            <feature name="AdpPushClient">
                <param name="ios-package"
                       value="AdpPushClient" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/AdpPushClient.m" />

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="ChabokPush" spec="~> 2.0.1"/>
            </pods>
        </podspec>
    </platform>
    <hook type="after_plugin_add" src="hooks/generate_app.js" />
    <hook type="after_prepare" src="hooks/generate_configs.js" />
</plugin>